GOOGLE_CLIENT_ID=clientid.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=secret
KEYCLOAK_CLIENT_SECRET=qiQ8IospPnLNfL2y5x1hfs2Bpf10D0ky
ADMIN_PASSWORD=admin

PORT=3000
REDIS_URL=redis://redis_cache:6379
JWKS_URL=http://keycloak_auth:8080/realms/authguard/protocol/openid-connect/certs
JWT_ISSUER=http://keycloak_auth:8080/realms/authguard
JWT_AUDIENCE=authguard-service
RUST_LOG=debug